<TABLE width="640px"><TR><TD><H1>Research</H1></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>On this page I collect some brief articles about issues that I 
considered interesting when I was working on them.</P></TD></TR></TABLE> 

<TABLE width="640px"><TR><TD style="text-align:justify"><P><UL type="disc">
<LI><A href="#/history/page/research/bezier_interpolation/index.html">Interpolation with Bezier Curves</A></LI>
<LI><A href="#/history/page/research/gamma_correction/index.html">Gamma Correction</A></LI>
<LI><A href="#/history/page/research/adaptive_bezier/index.html">Adaptive Subdivision of Bezier Curves</A></LI>
<LI><A href="#/history/page/research/font_rasterization/index.html">Texts Rasterization Exposures</A></LI></UL></P></TD></TR></TABLE>


<TABLE width="640px" bgcolor="#583927" height="1px" border="0" cellspacing="0" cellpadding="0" style="margin:0px;"><TR><TD></TD></TR></TABLE>
