<TABLE width="640px"><TR><TD><H1>About the Project</H1></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P><B><NOBR>Anti-Grain</NOBR> Geometry</B> (<B>AGG</B>) is an Open Source, free of charge graphic library, 
written in industrially standard <B>C++</B>. The terms and conditions 
of use <B>AGG</B> are described on <A href="#/history/license">The License</A> page. <B>AGG</B> doesn&#039;t depend on
any graphic API or technology. Basically, you can think 
of <B>AGG</B> as of a rendering engine that produces pixel images
in memory from some vectorial data. But of course, <B>AGG</B> can do much 
more than that. The ideas and the philosophy of <B>AGG</B> are:</P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P><UL type="disc">
<LI><B><NOBR>Anti-Aliasing</NOBR></B>.</LI>
<LI><B>Subpixel Accuracy</B>.</LI>
<LI>The highest possible quality.</LI>
<LI>High performance.</LI>
<LI>Platform independence and compatibility.</LI>
<LI>Flexibility and extensibility.</LI>
<LI>Lightweight design.</LI>
<LI>Reliability and stability (including numerical stability).</LI></UL></P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>Below there are some key features (but not all of them):</P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P><UL type="disc">
<LI>Rendering of arbitrary polygons with <B><NOBR>Anti-Aliasing</NOBR></B> and <B>Subpixel Accuracy</B>.</LI>
<LI>Gradients and Gouraud Shading.</LI>
<LI>Fast filtered image affine transformations, 
   including many interpolation filters (bilinear, bicubic, 
   spline16, spline36, sinc, Blackman).</LI>
<LI>Strokes with different types of line joins and line caps.</LI>
<LI>Dashed line generator.</LI>
<LI>Markers, such as arrowheads/arrowtails.</LI>
<LI>Fast vectorial polygon clipping to a rectangle.</LI>
<LI>Low-level clipping to multiple rectangular regions.</LI>
<LI>Alpha-Masking.</LI>
<LI>A new, fast <B>Anti-Alias</B> line algorithm.</LI>
<LI>Using arbitrary images as line patterns.</LI>
<LI>Rendering in separate color channels.</LI>
<LI>Perspective and bilinear transformations of vector and image data.</LI>
<LI>Boolean polygon operations (and, or, xor, sub) based on Alan Murta&#039;s <BR/><A href="http://www.cs.man.ac.uk/aig/staff/alan/software/"><IMG src="./public/history/assets/link.gif" border="0"/><B><NOBR>General Polygon Clipper</NOBR></B></A>.</LI></UL></P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P><B><NOBR>Anti-Grain</NOBR> Geometry</B> contains many interactive <A href="#/history/demo">Demo</A> exemples that are platform 
independent too, and use a simple platform_support class that currently 
has two implementations, for <B><NOBR>Win32 API</NOBR></B> and <B>X11</B> (no Motiff, no other 
dependencies, just basic <B>X11</B>). One of the examples is an 
<A href="#/history/svg">SVG Viewer</A>.</P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>For more information look at <A href="#/history/news">News</A>, <A href="#/history/screenshots">Screenshots</A>, <A href="#/history/demo">Demo</A>, 
<A href="https://agg.sourceforge.net/antigrain.com/faq/index.html">Frequently Asked Questions</A>, and <A href="#/history/docs">Documentation</A>. Here is the <A href="#/history/download">Download</A> page.</P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>The collage on the <A href="#/history/home">Main Page</A> is composed of real <B>AGG</B> examples with
<A href="http://www.xara.com"><IMG src="./public/history/assets/link.gif" border="0"/><B><NOBR>Xara X</NOBR></B></A>. There is a fragment that wasn&#039;t rendered with <B>AGG</B>, it&#039;s a 
piece of Boris Valejo&#039; artwork, but I really used it when I worked 
on the image transformation algorithms.</P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>This site is created with a tool called <A href="https://agg.sourceforge.net/antigrain.com/agdoc/index.html">AGDoc Formatter</A>.</P></TD></TR></TABLE><TABLE width="640px" bgcolor="#583927" height="1px" border="0" cellspacing="0" cellpadding="0" style="margin:0px;"><TR><TD></TD></TR></TABLE>
