<TABLE width="640px"><TR><TD><H1>Tips and Tricks<SPAN class="subtitle"><BR/>Some Interesting Issues, not Classified</SPAN></H1></TD></TR></TABLE>


<TABLE width="640px"><TR><TD style="text-align:justify"><P><UL type="disc">
<LI><A href="#/history/page/tips/square_color_interpolation/square_color_interpolation.agdoc.html">Simple Color Interpolation in a Square</A></LI>
<LI><A href="#/history/page/tips/image_plg/image_plg.agdoc.html">Image Parallelogram Transformations</A></LI>
<LI><A href="#/history/page/tips/win_glyph/win_glyph.agdoc.html">Using WinAPI to Render Text</A></LI>
<LI><A href="#/history/page/tips/win_ce/win_ce.agdoc.html">Compiling AGG under Microsoft eMbedded VC 4.0</A></LI>
<LI><A href="#/history/page/tips/gradients_tutorial/gradients_tutorial.agdoc.html">Working with Gradients</A></LI>
<LI><A href="#/history/page/tips/line_alignment/line_alignment.agdoc.html">The Problem of Line Alignment</A>
</LI></UL></P></TD></TR></TABLE><TABLE width="640px" bgcolor="#583927" height="1px" border="0" cellspacing="0" cellpadding="0" style="margin:0px;"><TR><TD></TD></TR></TABLE>
