<TABLE width="640px"><TR><TD><H1>Perfect Rasterization of Flash Compound Shapes<SPAN class="subtitle"><BR/>An investigation of how to reproduce a flawless 
           renderer for Macromedia Flash</SPAN></H1></TD></TR></TABLE>


<TABLE width="640px"><TR><TD style="text-align:center"><P><B><I>First published in January, 2006</I></B></P></TD></TR></TABLE>

<TABLE class="toc" width="640px"><TR><TD>
    <DIV style="margin-left:2em; padding:3px; font-size:14px;"><A href="#toc0001"><B>Introduction</B></A></DIV>

</TD></TR></TABLE>

<H2>Introduction<A name="toc0001"></A></H2>

<BR/><TABLE width="640px" bgcolor="#583927" height="1px" border="0" cellspacing="0" cellpadding="0" style="margin:0px;"><TR><TD></TD></TR></TABLE>
