<TABLE width="640px"><TR><TD><H1>The SVN Repository</H1></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>You can get access to the public <A href="http://subversion.apache.org/"><IMG src="./public/history/assets/link.gif" border="0"/><B>SVN</B></A> repository at <A href="http://sourceforge.net"><IMG src="./public/history/assets/link.gif" border="0"/><B>SourceForge.net</B></A>.</P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>If you are not familiar with <A href="http://subversion.apache.org/"><IMG src="./public/history/assets/link.gif" border="0"/><B>SVN</B></A> and how it works, please read its brief overview
at SourceForge.net: <A href="http://sourceforge.net/apps/trac/sourceforge/wiki/Subversion"><IMG src="./public/history/assets/link.gif" border="0"/>http://sourceforge.net/apps/trac/sourceforge/wiki/Subversion</A>.</P></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>Then, if you have a <A href="http://subversion.apache.org/"><IMG src="./public/history/assets/link.gif" border="0"/><B>SVN</B></A> client installed, use the following command to get the <B><NOBR>Anti-Grain</NOBR> Geometry</B> sources:</P></TD></TR></TABLE>

<TABLE width="640px" border="0" cellspacing="0" cellpadding="0"><TR><TD><PRE>

svn checkout svn://svn.code.sf.net/p/agg/svn/ agg-svn

</PRE></TD></TR></TABLE><FONT style="margin-left:1em"><I></I></FONT>

<TABLE width="640px"><TR><TD style="text-align:justify"><P>You can also browse the repository directly: <BR/>
<A href="http://sourceforge.net/p/agg/svn"><IMG src="./public/history/assets/link.gif" border="0"/>http://sourceforge.net/p/agg/svn</A>/
</P></TD></TR></TABLE><TABLE width="640px" bgcolor="#583927" height="1px" border="0" cellspacing="0" cellpadding="0" style="margin:0px;"><TR><TD></TD></TR></TABLE>
