<TABLE width="640px"><TR><TD><H1>Maxim Shemanarev</H1></TD></TR></TABLE>

<TABLE width="640px"><TR><TD style="text-align:center"><P>Mail me: <A href="mailto:mcseem@antigrain.com"><IMG src="./public/history/assets/link.gif" border="0"/>mailto:mcseem@antigrain.com</A><BR/>

<TABLE width="640px"><TR><TD><CENTER><IMG src="./public/history/assets/mcseem/mcseem.jpg" title="" border="0"/><BR/><I></I></CENTER></TD></TR></TABLE><BR/>

<TABLE width="640px"><TR><TD style="text-align:center"><P>Mail me: <A href="mailto:mcseem@antigrain.com"><IMG src="./public/history/assets/link.gif" border="0"/>mailto:mcseem@antigrain.com</A>
</P></TD></TR></TABLE></P></TD></TR></TABLE><TABLE width="640px" bgcolor="#583927" height="1px" border="0" cellspacing="0" cellpadding="0" style="margin:0px;"><TR><TD></TD></TR></TABLE>
